      body {
                font-family: 'Nunito', sans-serif;
            }
            footer{
                background: #eee;
                padding: 20px;
                text-align: center;
            }